@{
    ViewData["Title"] = "Our Craftwork";
}
<h1>@ViewData["Title"]</h1>

<p>This is where all our craftwork or products will be displayed, along with their pricing, description, picture and so much more!</p>
