@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft</h1>
    <p>Hiyo! Welcome to KhumaloCraft's website skeleton! This only provides a overview of the pages our website will have</p>
</div>
